.infor-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;

  border: 1px solid black;
  height: 150px;
  border-radius: 8px;
  padding: 90px 20px;
}

.infor h3 {
  font-size: 2rem;
}

.infor p {
  font-size: 1.6rem;
}

.infor {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
}

.btn-edit {
  background-color: #ff8d23;
  color: #ffffff;
  font-size: 1.4rem;

  height: 50px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}

.btn-del {
  background-color: #f82525;
  color: #ffffff;
  font-size: 1.4rem;

  height: 50px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}
