.infor-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;

  border: 1px solid black;
  height: 150px;
  border-radius: 8px;
  padding: 90px 20px;
}

.infor h3 {
  font-size: 2rem;
}

.infor p {
  font-size: 1.6rem;
}

.infor {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
}

.btn-edit {
  background-color: #ff8d23;
  color: #ffffff;
  font-size: 1.4rem;

  height: 50px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;

  transition: 0.2s;
}

.btn-edit:hover {
  background-color: rgb(187, 127, 15);
}

.btn-del {
  background-color: #f82525;
  color: #ffffff;
  font-size: 1.4rem;

  height: 50px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;

  transition: 0.2s;
}

.btn-del:hover {
  background-color: #800202;
}

.divida-content {
  width: 40%;
  height: 60%;
  min-width: 200px;
  min-height: 200px;
  background-color: white;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.divida-content h1 {
  font-size: 3.6rem;
  margin-top: -10px;
  margin-bottom: 50px;
}

.divida-values {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.divida-values label {
  font-size: 1.6rem;
}

#novo-valor {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  border: 1px solid rgba(48, 43, 43, 0.473);

  min-width: 700px;
  min-height: 20px;
  border-radius: 20px;
  background: #f8f3f3;
  padding: 10px;
}

.btn-save {
  background-color: #ff8d23;
  color: #ffffff;
  font-size: 1.4rem;

  height: 50px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;

  transition: 0.2s;
}

.btn-save:hover {
  background-color: rgb(187, 127, 15);
}

#btn-close {
  height: 70px;
  width: 70px;
  color: white;
  background-color: red;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 50px;
  padding: 1px;

  margin-left: 85%;
  margin-bottom: 50px;
  transition: 0.2s;
}

#btn-close:hover {
  background-color: #800202;
}

@media (max-width: 488px) {
  .infor-user {
    max-height: 100px;
  }
}
